.dashboardComponentViewCovidcare{
    padding : 0 ;
    margin: 0;
    box-sizing: border-box ;
    right: 0;
    min-height : calc(100vh - 5rem);
    height: fit-content;
    width: calc(100vw - 270px);
    position: absolute;
    top:5rem;
    z-index: -1;
    background: #DEF2F1;
}
.covidcare-container{
    margin: 5vh 10vw 5vh 10vw;
    background-color: white;
    width: auto;
    position: relative;
}

.covidcare-title{
    font-weight: bold;
    color: #17252A;
    padding: 1rem;
    background-color: #8CD9D5;
    font-size: 1.4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid #2B7A79;
}
.fa-hospital-covidcare{
    margin-right: 1rem;
}
.covidcareinfo{
    padding: 1vh 3vw 3.5vh 3vw;
}
/* .profilelabelCovid{
    font-weight: 600;
    margin-bottom: 1vh;
   
    font-size: 1.1rem;
    display: block;
} */
.profilelabelCovidStatus{
    font-size: 1.3rem;
    color:#2B7A79;
    font-weight: bold;
    font-style:oblique;
    padding-left: 5px;
}
@media screen and (max-width:466px){
    .profilelabelCovidStatus{
        font-size: 1rem;
    }
}
@media screen and (max-width:1100px){
    .dashboardComponentViewCovidcare{
        box-sizing: border-box ;
        /* background-color : blue; */
        min-height : calc(100vh - 5rem);
        height: fit-content;
        width: calc(100vw - 70px);
        position: absolute;
        top:5rem;
        /* border : 10px solid black */
    }
}