.appointmentComponentViewProfile{
    padding : 0 ;
    margin: 0;
    box-sizing: border-box ;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color : blue; */
    right: 0;
    min-height : calc(100vh - 5rem);
    height: fit-content;
    width: calc(100vw - 270px);
    position: absolute;
    top:5rem;
    z-index: -1;
    /* border : 10px solid black */
    background: #DEF2F1;
}
.appointment-container{
    margin: 5vh 10vw 5vh 10vw;
    background-color: white;
    width: auto;
    position: relative;
}

.appointment-title{
    font-weight: bold;
    color: #17252A;
    padding: 1rem;
    background-color: #8CD9D5;
    font-size: 1.4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid #2B7A79;
}
.fa-virus-appoinrment{
    margin-right: 1rem;
}
.appointmentinfo{
    padding: 1vh 3vw 3.5vh 3vw;
}
.card-main{
   width:100%;
   min-height:7vh;
   background: #f9f9f9;
   border: 1px solid #dddddd;
   border-radius: 4px;
   margin: 1rem 0;
   color: #17252A;
   font-size: 1rem;
   display: flex;
   align-items: center;
}
.card-main-model{
    width:100%;
    min-height:7vh;
    margin: 1rem 0;
    color: #17252A;
    font-size: 1rem;
    display: flex;
    align-items: center;
 }
.p-name-div{
    min-width: 22%;
}
.p-name {
    margin-left:1rem;
    font-weight: 600;
    display: inline-block;
}
.p-appointment-time-div{
    min-width: 14%;
}
.p-appointment-time{
    font-weight: 600;
    display: inline-block;
}
.p-appointment-date-div{
    min-width: 21%;
}
.p-appointment-date{
    font-weight: 600;
    display: inline-block;
}
.p-disease-div{
    font-weight: 600;
    min-width: 25%;
}
.p-disease{
    font-weight: 600;
    display: inline-block;
}
.p-status-accepted-div{
    min-width: 18%;
}
.p-status-accepted{
    font-weight: 600;
   font-style:oblique;
    color: #2B7A79;
    display: inline-block;
}
.p-status-rejected{
    font-weight: 600;
    font-style:oblique;
    color: #e42b2b;
    display: inline-block;
}
.acceptBtn{
    min-width: 33%;
}
.rejectBtn{
    min-width: 33%;
}
.viewBtn{
    min-width: 33%;
}
.Btn-model{
    width: 100%;
}
/* .card-left{
    padding: 10px;
    width: 50%;
    float: left;
}
.card-right{
    padding: 2px;
    margin-left: 50%;
} */
.button-green{
   width:90%;
    display: inline-block;
	height: 100%;
    padding: .5vw;
	border-radius: 10px;
	border: none;
	background-image: linear-gradient(to right, #3AAFA9, #3AAFA9, #2B7A79);
	background-size: 200%;
	font-size: 1rem;
	color: #FEFFFF;
	/* margin: 1rem 0; */
	cursor: pointer;
}
.button-green-model{
    width:100%;
    display: inline-block;
	height: 100%;
    padding: 8px;
	border-radius: 10px;
	border: none;
	background-image: linear-gradient(to right, #3AAFA9, #3AAFA9, #2B7A79);
	background-size: 200%;
	font-size: 1rem;
	color: #FEFFFF;
	/* margin: 1rem 0; */
	cursor: pointer;
}

.button-red{
   width: 90%;;
    display: inline-block;
	height: 100%;
    padding: .5vw;
	border-radius: 10px;
	border: none;
    background-color: #ff4d4d;
	background-size: 200%;
	font-size: 1rem;
	color: #FEFFFF;
	/* margin: 1rem 0; */
	cursor: pointer;
}
.button-red-model{
    width: 100%;
    display: inline-block;
	height: 100%;
    padding: 8px;
	border-radius: 10px;
	border: none;
    background-color: #ff4d4d;
	background-size: 200%;
	font-size: 1rem;
	color: #FEFFFF;
	/* margin: 1rem 0; */
	cursor: pointer;
}
.button-grey{
    width: 90%;;
    display: inline-block;
	height: 100%;
    padding: .5vw;
	border-radius: 10px;
	border: none;
    background-image: linear-gradient(to right, #888888,#888888, #888888);
	background-size: 200%;
	font-size: 1rem;
	color: #FEFFFF;
	/* margin: 1rem 0; */
	cursor: pointer;
}
.small-size-row-first{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-size-row-first-model{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    margin: 1rem 0;
}
.small-size-row-second{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-size-row-second-model{
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    margin: 1rem 0;
}
/* .customModalAppointment{
    background: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 4px;
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
} */
.noAppointmentSvgDiv{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 3vh;
    flex-direction: column;
}
.noAppointmentSvg{
    max-width: 700px;
    max-height: 500px;
}
.svgLabel{
    color: #808080;
    transform: translateY(-30px);
    margin-bottom: 1.5rem;
}
@media screen and (max-width:1100px){
    .appointmentComponentViewProfile{
        box-sizing: border-box ;
        /* background-color : blue; */
        min-height : calc(100vh - 5rem);
        height: fit-content;
        width: calc(100vw - 70px);
        position: absolute;
        top:5rem;
        /* border : 10px solid black */
    }
    .noAppointmentSvg{
        width: 100%;
        height: 100%;
    }
    .svgLabel{
        color: #808080;
        transform: translateY(0);
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width:900px){
    .small-size-row-first{
        flex-wrap: wrap;
        gap: 12px;
        flex-direction: column;
        margin: 1rem 0;
    }
    .small-size-row-second{
        flex-wrap: wrap;
        gap: 12px;
        flex-direction: column;
        margin: 1rem 0;
    }
    .button-green,.button-red,.button-grey{
         width:80px;
         padding: 10px;
     }
     .small-size-row-second{
        align-items: flex-start;
    }
     
}
@media screen and (max-width:503px){
    .small-size-row-first{
        align-items: flex-start;
        padding-left: 8px;
    }
    .p-name {
        margin-left:0;
    }
    .button-green,.button-red,.button-grey{
         width:65px;
         padding: 8px;
     }
}
@media screen and (max-width:407px){

     .card-main{
        font-size: .9rem;
     }
     .button-green,.button-red,.button-grey{
        font-size: .9rem;
    }
}

